@media only screen and (min-width: 568px) and (max-width: 1200px) {     /* medium size settings */

  .nav-menu {
      display:none;
  }

  .hamburger-btn {
      display: contents;
      cursor: pointer;
  }

  .toggle-nav {
      display: block;
      grid-column: 1/2;
      grid-row: 1;
      align-self: center;
      justify-self: start;
      margin-top: 10px;
      padding-left: 5px;
  }


  .navbar-all {
      margin-left: 65px;
  }

  .get-start-btn {           /* Get Started position in Nav Bar */
      display: none;
  }

  h1.index-title {
      font-size: 2rem;
      margin-bottom: 25%;
  }

  .index-body {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 75px;   /* pushes get started up or down */
  }

  .btn-start {             /* styling for get started button in body & learn More in About */
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #3498db;
    margin-bottom: 20px;
  }

  .btn-start:hover {
    background: #3498db;
    color: #fff;
  }

  .btn-learn {        /* moves Learn More button down */
    margin-bottom: 18%;
  }
}


@media only screen and (max-width: 567px) {     /* small size settings */
  .nav-menu {
      display:none;
  }

  .hamburger-btn {
      display: contents;
      cursor: pointer;
  }

  .toggle-nav {
      display: block;
      grid-column: 1/2;
      grid-row: 1;
      justify-self: start;
      margin-top: 10px;
      padding-left: 5px;
  }

  .logo-text {
      grid-column: 1/2;
      grid-row: 1;
      justify-self: flex-end;
      align-self: center;
      margin-top: -35px;
      padding-left: 35px;
  }

  .get-start-btn {
      display: none;
  }

  h1.index-title {
      font-size: 2rem;
  }

  .index-body {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 75px;   /* pushes get started up or down */
  }

  .btn-start {             /* styling for get started button in body & learn More in About */
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #3498db;
    margin-bottom: 20px;
  }

  .btn-start:hover {
    background: #3498db;
    color: #fff;
  }

  .index-left {
    grid-column: 1/7;
    grid-row: 2;
    align: vertical;
    max-width: 100%;
    margin-left: 5%;
  }

  .index-img {
    align-content: center;
    grid-column: 1/7;
    grid-row: 3;
    margin-left: 3%;
    margin-right: 3%;
  }

  .bar-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    grid-column: 1/7;
    grid-row: 4;
    width: 100%;
    background-color: #F3F9FD;
    padding: 30px 0;         /* Thickness of the bar background */
    margin-top: 50px;        /* pushed down from body */
  }

  /* Places pictures in grid and sets to monochrome */
  .img-sp1 {
    grid-column: 1;
    grid-row: 4;
    max-width: 65%;
    filter: grayscale(100);
  }

  .img-sp2 {
    grid-column: 2;
    grid-row: 4;
    max-width: 65%;
    filter: grayscale(100);
  }

  .img-sp3 {
    grid-column: 3;
    grid-row: 4;
    max-width: 65%;
    filter: grayscale(100);
  }

  .img-sp4 {
    grid-column: 1;
    grid-row: 5;
    max-width: 65%;
    filter: grayscale(100);
  }

  .img-sp5 {
    grid-column: 2;
    grid-row: 5;
    max-width: 65%;
    filter: grayscale(100);
  }

  .img-sp6 {
    grid-column: 3;
    grid-row: 5;
    max-width: 65%;
    filter: grayscale(100);
  }

  /* about Us page */
  .page-body {
    grid-column: 1/2;
  }

  .title-line {
    grid-row: 2;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .title-line h2 {
    font-size: 4rem !important;
    margin: 0 30px;
  }

  .line-img {        /* adjusts the title lines on either side of text */
    display:flex;
    height: 25%;
    padding: 33px 10px 0 10px;
    margin: 0;
  }

  .about-left {      /* left side settings */
    grid-column: 1/7;
    grid-row: 3;
    max-width: 100%;
    margin: 0 10% 0 10%;
  }
  .about-left p {
    margin-bottom: 30px;
  }

  .about-right {      /* Right side settings */
    grid-column: 1/7;
    grid-row: 4;
    max-width: 100%;
    margin: 0% 10% 0 10%;

  }

  .btn-learn {        /* moves Learn More button down */
    justify-content:center;
    margin-bottom: 10%;
  }

  .check-img {        /* adjust the check images size & position */
    max-width: 5%;
    margin-right: 5px;
    margin-top: 5px;
  }

  /* Count section */
  .count-body {
    margin-bottom:25px;  /* row spacing in count area */
    max-width: 80%
  }

  .count-box-left {
  grid-row: 1/7;
  margin-top: 10%;
  }

  .count-box-right {
  grid-row: 5/6;
  margin-top: 10%;
  }

  .icon-size {
    font-size: 2rem;
    font-weight: bolder;
    float: left;
  }

  .count-size {
    font-size: 2rem;
    font-weight: bolder;
    margin: 0 8px 0 0;
  }

  /* Services Media */
  .sub-format {            /* formatting the subtitle line */
    font-weight: 600;
    font-size: 2rem;
  }

  .ft-columns {
    width: 100%;    /* width of feature boxes */
  }

  .ft-col-1 {
    grid-column: 1/7;
    grid-row: 3;
    width: 100%;
  }

  .ft-col-2 {
    grid-column: 2/3;
  }

  .ft-col-3 {
    grid-column: 3/4;
  }

  .ft-col-4 {
    grid-column: 4/5;
  }



}
