@media only screen and (min-width: 568px) and (max-width: 1200px) {     /* medium size settings */

  .nav-menu {
      display:none;
  }

  .hamburger-btn {
      display: contents;
      cursor: pointer;
  }

  .toggle-nav {
      display: block;
      grid-column: 1/2;
      grid-row: 1;
      align-self: center;
      justify-self: start;
      margin-top: 10px;
      padding-left: 5px;
  }

  .navbar-all {
      margin-left: 65px;
  }

  .get-start-btn {           /* Get Started position in Nav Bar */
      display: none;
      grid-column: 3/7;
      justify-content: flex-end;
      margin-top: 12px;
      margin-left: 50px;
  }

  h1.index-title {
      font-size: 2rem;
      margin-bottom: 25%;
  }

  .index-body {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 75px;   /* pushes get started up or down */
  }

  .btn-start {             /* styling for get started button in body & learn More in About */
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #3498db;
    margin-bottom: 20px;
  }

  .btn-start:hover {
    background: #3498db;
    color: #fff;
  }

}

@media only screen and (max-width: 567px) {     /* small size settings */

  .nav-menu {
      display:none;
  }

  .hamburger-btn {
      cursor: pointer;
  }

  .toggle-nav {
      display: block;
      grid-column: 1/2;
      grid-row: 1;
      align-self: center;
      justify-self: start;
      margin-top: -35px;
      padding-left: 5px;
  }

  .logo-text {
      grid-column: 1/2;
      grid-row: 1;
      justify-self: flex-end;
      align-self: center;
      margin-top: -35px;
      padding-left: 35px;
  }

  .get-start-btn {
      grid-column: 3/7;
      grid-row: 1;
      justify-self: end;
      align-self: center;
      margin-top: 10%;
  }

  h1.index-title {
      font-size: 2rem;
  }

  .index-body {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 75px;   /* pushes get started up or down */
  }

  .btn-start {             /* styling for get started button in body & learn More in About */
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #3498db;
    margin-bottom: 20px;
  }

  .btn-start:hover {
    background: #3498db;
    color: #fff;
  }

  .index-left {
    grid-column: 1/7;
    grid-row: 2;
    align: vertical;
    max-width: 90%;
    margin-left: 5%;
  }

  .index-img {
    align-content: center;
    grid-column: 1/7;
    grid-row: 3;
    margin-left: 5%;
    margin-right: 5%;
  }

  .bar-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    grid-column: 1/7;
    grid-row: 4/5;
    width: 100%;
    background-color: #F3F9FD;
    padding: 30px 0;         /* Thickness of the bar background */
    margin-top: 50px;        /* pushed down from body */
  }

  /* Places pictures in grid and sets to monochrome */
  .img-sp1 {
    grid-column: 1;
    grid-row: 4;
    max-width: 45%;
    filter: grayscale(100);
  }

  .img-sp2 {
    grid-column: 2;
    grid-row: 4;
    max-width: 45%;
    filter: grayscale(100);
  }

  .img-sp3 {
    grid-column: 3;
    grid-row: 4;
    max-width: 45%;
    filter: grayscale(100);
  }

  .img-sp4 {
    grid-column: 4;
    grid-row: 5;
    max-width: 45%;
    filter: grayscale(100);
  }

  .img-sp5 {
    grid-column: 5;
    grid-row: 5;
    max-width: 45%;
    filter: grayscale(100);
  }

  .img-sp6 {
    grid-column: 6;
    grid-row: 5;
    max-width: 45%;
    filter: grayscale(100);
  }

}
