/* - All Site */
body ul {
    margin: 0;
    padding: 0;
}

a:hover {
    color: #5faee3;
    text-decoration: none;
}

a {
    text-decoration: none;
}
/* Fonts, styles & colors */
.font-main {
    font-family: "Open Sans", sans-serif;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.font-pop {
    font-family: "Poppins", sans-serif;
}

.font-mi {
    font-family: "Material-Icon";
}

.font-bold {
    font-weight: 800;
}

.font-med {
    font-weight: 600;
}

.font-lite {
    font-weight: 400;
}

.font-italic {
    font-style: italic;
}

.txt-black-lt {
    color: #444444;
}

.txt-blue-md {
    color: #3498db;
}

.txt-blue-lt {
    color: #5faee3;
}

/* The Grid */
.container {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
    margin: 0 5px 0 5px;
}

/* - Nav Menu settings and controls */
.nav-box {
    display: flex;
    align-content:flex-end;
    align-items: center;
    grid-column: 1/7;
    grid-row: 1;
    margin-left: 5%;
}

h1.logo-text {
    letter-spacing: 1px;
    font-size: 2rem;
    padding-top: 50px;
}

.nav-menu, .nav-menu * {
    grid-column: 2/7;
    align-content:flex-end;
    list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
  margin: 0;
}

.nav-menu a {
  color: #555555;
  padding: 5px 0 5px 30px;
  font-size: 1rem;
}

.nav-menu .menu ul {
  display: block;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  left: 25px;
  padding: 5px 0;
  background: #fff;
  box-shadow: 2px 0 5px 0 #5faee3;
  transition-delay: .2s;
  border-radius: 5px;
}

.nav-menu .menu li {
  min-width: 100px;
  position: relative;
  margin: 10px 0;
}

.nav-menu .menu:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #3498db;
  text-decoration: none;
}

.nav-menu .menu ul a {
  padding: 25px 20px;
  font-size: .9rem;
}

.nav-menu .menu ul a:hover, .nav-menu .menu ul .active > a, .nav-menu .menu ul li:hover > a {
  color: #3498db;
}

.nav-menu .start a {
  background: #3498db;
  color: #fff;
  border-radius: 50px;
  margin: 0 0 0 30px;
  padding: 10px 25px;
}

.nav-menu .start a:hover {
  background: #57aae1;
  color: #fff;
}

/* Main Page body styling*/
.page-index {
  display: flex;
  align-items: center;
  grid-column: 1/7;
  grid-row: 2/4;
}

.index-left {
  grid-column: 1/3;
  grid-row: 2;
  align: vertical;
  max-width: 40%;
  margin-left: 5%;
}

h1.index-title {
  font-size: 3rem;
  margin-top: -3rem;
}

.index-body {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5rem; /* pushes get started up or down */
}

.btn-start {
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 10px 30px;
  border-radius: 50px;
  border: 2px solid #3498db;
}

.btn-start:hover {
  background: #3498db;
  color: #fff;
}

.index-img {
  justify-content: flex-end;
  grid-column: 4;
  grid-row: 2;
  margin-left: 5%;
  margin-right: 5%;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.bar-img {
  display: flex;
  grid-column: 1/7;
  grid-row: 4;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: #F3F9FD;
  padding: 50px 0;     /* Thickness of the bar background */
  margin-top: 50px;    /* pushed down from body */
}

.bar-img img:hover {
  filter: none;
  pointer-events: visible; /*shows color pictures */
}

.img-sp1 {
  grid-column: 1;
  max-width: 45%;
  filter: grayscale(100);
}

.img-sp2 {
  grid-column: 2;
  max-width: 45%;
  filter: grayscale(100);
}

.img-sp3 {
  grid-column: 3;
  max-width: 45%;
  filter: grayscale(100);
}

.img-sp4 {
  grid-column: 4;
  max-width: 45%;
  filter: grayscale(100);
}

.img-sp5 {
  grid-column: 5;
  max-width: 45%;
  filter: grayscale(100);
}

.img-sp6 {
  grid-column: 6;
  max-width: 45%;
  filter: grayscale(100);
}

/* About Us page styling*/

.title-line {
  display: flex;
  justify-content: center;
  text-align: center;
  grid-column: 1/7;
  grid-row: 2;
  margin: 0;
}

.title-line h2 {
  font-size: 2.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 30px;
}

.line-img {
  display:flex;
  height: 25%;
  padding: 18px 10px 0 10px;
  margin: 0;
}

.about-left {
  grid-column: 1/4;
  grid-row: 3/4;
  align: vertical;
  margin: 3% 5% 0 15%;
}

.about-right {
  grid-column: 4/7;
  grid-row: 3/4;
  align: vertical;
  margin: 3% 15% 0 5%;
}

.about-right p {
  padding-bottom: 4%
}

.check-imglist {
  margin: 0;
}

.check-img {
  max-width: 5%;
  margin-right: 5px;
}

/* Count section */
.count-box-left {
grid-row: 5/6;
width: 100%;
margin-top: 15%;
}

.count-box-right {
grid-row: 5/6;
width: 100%;
margin-top: 15%;
}

.icon-size {
  font-size: 2rem;
  font-weight: bolder;
  float: left;
}

.count-size {
  font-size: 2rem;
  font-weight: bolder;
  margin: 0 8px 0 0;
}

.count-body {
  margin-top: 5px;
  margin-bottom:25px;
  max-width: 80%
}

/* Services page styling*/
.service-page {
  display:inline-flex;
  grid-column: 1/7;
  grid-gap: 1%;
  margin: 5% 5%;
}

.service-boxes {
  max-width: 70%;
  height: 320px;
  margin-right: 7%; /* spacing between boxes */
  margin-left: 7%;
}

.sub-title-line {
  display: flex;
  justify-content: center;
  grid-column: 1/7;
  grid-row: 3;
  margin: 0;
}

.sub-format {
  font-weight: 600;
  font-size: 1.1rem;
}

.sub-format p {
  margin-bottom: 0;
}

.service-page .service-boxes {
  padding: 25px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 2px 0 5px 0 #5faee3;
  border-radius: 10px;
  z-index: 1;
}

.service-page .service-boxes:before {  /* corner shadow */
  content: '';
  position: absolute;
  background: #e1f0fa;
  right: -60px;
  top: -40px;
  width: 90px;
  height: 75px;
  border-radius: 50px;
  z-index: -1;
}

.service-page .service-boxes:hover::before {
  background: #3498db;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.service-boxes .box-icons {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 70px;
  height: 60px;
  background: #3498db;
}

.service-boxes .box-icons i {  /* icon sizing */
  font-size: 2.5rem;
  color: #fff;
  margin-top: 4px;
}

.service-boxes .sb-title {
  font-weight: 800;
  margin-bottom: 15px;
  font-size: 1.25rem;
}

.service-boxes .sb-title a {
  color: black;
}

.service-boxes .sb-descrip {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 0;
}

.service-page .service-boxes:hover .sb-title a, .service-page .service-boxes:hover .sb-descrip {
  color: #fff;
}

.service-page .service-boxes:hover .box-icons {
  background: #fff;
}

.service-page .service-boxes:hover .box-icons i {
  color: #3498db;
}

/* Features Page */
